@page
@model CarManagement.CarManagementModel
@{
    ViewData["Title"] = "CarManagement";
}

<h2>CarManagement</h2>

<p>Below is the management page</p>

<p>Vehicle List:</p>




<table id="myTable" class="table" cellspacing="0">
    <thead>
        <tr>
            Model
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShowAllCars())
        {
            <tr>
                <td>@item.Make</td>

            </tr>
        }
    </tbody>
</table>






