@page
@model CarManagement.FilterViewModel
@{
    ViewData["Title"] = "FilterView";
}

<h2>FilterView</h2>

<!-- FILTER SEARCH-->

<hr />
@section LeftMenu{
    <!-- Content Here -->
    <p>somet left menu stuff</p>
    <p>details from FILTER VIEW page</p>



}