@page
@model ContactModel
@{
    ViewData["Title"] = "Shopimulator";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>



<a id="MainContent_ctl00_SomeLinkButton" class="btn btn-primary btn-sm" href="~/AllCars" href="javascript:__doPostBack(&#39;ctl00$MainContent$ctl00$lSomeLinkButton&#39;,&#39;&#39;)">Load cars</a>